{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate your Gift Card Mall Visa or Mastercard at www.giftcardmall.com/mygift in minutes. Learn how to enter your card details, register ZIP code, and check your balance quickly and securely." />
    <meta name="keywords" content="www.giftcardmall.com mygiftcard, Giftcardmall/mygift, gift card mall activation, activate gift card mall, Visa gift card activation, Mastercard gift card activation" />
    <meta name="robots" content="index, follow" />
    <title>Activate Your Gift Card Mall Card – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
